{% extends 'base.html' %}

{% block title %}HealtyMe - Admin{% endblock %}
{% set sidebar = True %}
{% block content %}
<div class="row p-3">
    <main class="container my-5">
        <div class="container petunjuk-section">
            <h1>Dashboard Admin</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body d-flex align-items-center">
                            <i class="fas fa-users fa-3x me-4"></i>
                            <div>
                                <h5 class="card-title">Jumlah User</h5>
                                <p class="card-text">{{ informasi.jumlah_user }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body d-flex align-items-center">
                            <i class="fas fa-list-alt fa-3x me-4"></i>
                            <div>
                                <h5 class="card-title">Jumlah Antrian</h5>
                                <p class="card-text">{{ informasi.jumlah_antrian }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body d-flex align-items-center">
                            <i class="fas fa-medkit fa-3x me-4"></i>
                            <div>
                                <h5 class="card-title">Jumlah MCU</h5>
                                <p class="card-text">{{ informasi.mcu_jumlah }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Overview Data Users</h2>
                <a href="#" class="btn btn-primary btn-sm view-all-button">View All</a>
            </div>

            <div class="table-responsive mb-3">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>Alamat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in informasi.user[0:3] %}
                        <tr>
                            <td>{{ user._id }}</td>
                            <td>{{ user.nama }}</td>
                            <td>{{ user.jenis_kelamin }}</td>
                            <td>{{ user.alamat }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Overview Jumlah Antrian</h2>
                <a href="#" class="btn btn-primary btn-sm view-all-button">View All</a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Nomor Antrian</th>
                            <th>Hari/Tanggal</th>
                            <th>Sesi</th>
                            <th>Waktu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for antrian in informasi.antrian[0:3]%}
                        <tr>
                            <td>{{ antrian.nama }}</td>
                            <td>{{ antrian.nomor_antrian }}</td>
                            <td>{{ antrian.hari|replace('(', '')|replace(')', '') }}, {{
                                antrian.tanggal|replace("'", '') }}</td>
                            <td>{{ antrian.sesi }}</td>
                            <td>{{ antrian.jam }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

{% endblock %}