{% extends 'base.html' %}

{% block title %}HealtyMe - Admin{% endblock %}
{% block content %}
    <!-- Start Hero -->
		<div class="hero">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-8">
						<div class="intro-excerpt">
							<h3>HealtyMe</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hero -->

        <!-- Start Detail Rumah Sakit -->
        <div class="container isiberita my-5" style="min-height: 100vh">
            <div class="kategoricaption mb-5">
                <div class="row">
                    <div class="col">
                        {% if mcu_data %}
                        <h3 class="text-center fw-bold judulkategori">{{ mcu_data.nama_mcu }}</h3>
                        <hr class="mx-auto" style="width: 10%; background-color: #3b5d50;">
                        {% else %}
                        <h3 class="text-center fw-bold judulkategori">Data not found</h3>
                        <hr class="mx-auto" style="width: 10%; background-color: #3b5d50;">
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        {% if mcu_data %}
                        <img class="gambar" src="{{ url_for('static', filename=mcu_data.gambar_mcu) }}" alt="Gambar Pemeriksaan Kesehatan">
                        <span class="caption"></span>
                        <div class="mt-3">
                            <p style="white-space: pre-line; text-align: justify;">{{ mcu_data.detailrs_mcu }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}