{% extends 'base.html' %}

{% block title %}HealtyMe - Antrian{% endblock %}
{% set navbar = True %}
{% block content %}
	<!-- Masukan Konten Disini Yah Gesss -->
	<div class="container mt-4">
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">Medical Cek Up (MCU)</th>
				<th scope="col">Jumlah Antrian</th>
				<th scope="col">Dalam Antrian</th>
			  </tr>
			</thead>
			  <tr>
				<th scope="row">MCU Kolesterol</th>
				<td>Jacob</td>
				<td>Thornton</td>
			  </tr>
			  <tr>
				<th scope="row">MCU Gula Darah</th>
				<td>Larry the Bird</td>
				<td>Larry the Bird</td>
			  </tr>
			  <tr>
				<th scope="row">MCU Urine</th>
				<td>Larry the Bird</td>
				<td>Larry the Bird</td>
			  </tr>
			</tbody>
		  </table>
	</div>
{% endblock %}
{% set footer = True %}
