{% extends 'base.html' %}

{% block title %}HealtyMe - Login{% endblock %}
{% block content %}
	<div class="container">
		<div class="row justify-content-center align-items-center" style="height: 90vh;">
			<div class="login-form">
				<h2 class="logo-text">HealtyMe - Login</h2>
				  <div class="mb-3 input-group">
					<span for="inputName" class="input-group-text w-25">Name</span>
					<input type="text" class="form-control" id="inputName" placeholder="Enter your name" name="nama">
				  </div>
				  <div class="mb-3 input-group">
					<span for="inputNIK" class="input-group-text w-25">NIK</span>
					<input type="number" class="form-control" id="inputNIK" placeholder="Enter your NIK number" name="nik">
				  </div>
				  <button type="submit" class="btn btn-secondary login-btn d-block mx-auto" onclick="login()">Login</button>
				  <p class="text-center mt-3">Belum Punya Akun? <a href="/register" class="register-link">Daftar Sekarang</a></p>
			  </div>
		</div>
	  </div>
{% endblock %}