<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="/">HealtyMe<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item {% if request.path == url_for('home') %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item {% if request.path == url_for('show_pendaftaranonline') %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('show_pendaftaranonline') }}">Pendaftaran Online</a>
                </li>
                <li class="nav-item {% if request.path == url_for('antrian') %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('antrian') }}">Antrian</a>
                </li>
                <li class="nav-item {% if request.path == url_for('petunjuk') %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('petunjuk') }}">Petunjuk</a>
                </li>
                {% if user_info %}
                    <li class="nav-item {% if request.path == url_for('akun') %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('akun') }}">Akun</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.path == url_for('show_login') %}active{% endif %}">
                        <a class="nav-link" href="{{ url_for('show_login') }}">Login</a>
                    </li>                
                {% endif %}
            </ul>

        </div>
    </div>

</nav>